
.idea/DigitalTimetable.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/configurable_image_widgets18.cpython-312.pyc
__pycache__/toolsV1.cpython-312.pyc
