
.idea/DigitalTimetable.iml
.idea/inspectionProfiles/profiles_settings.xml
.idea/inspectionProfiles/Project_Default.xml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
__pycache__/configurable_image_widgets18.cpython-312.pyc
__pycache__/toolsV1.cpython-312.pyc
depreciated.py
.idea/codeStyles/codeStyleConfig.xml
__pycache__/animated_widgets.cpython-312.pyc
settings.json
window_settings.json
/build/
/__pycache__/